# Run script on Http
fastapi
uvicorn

# Run Script scheduler
schedule

pandas
bs4
python-dotenv

# http
aiohttp
aiodns

# MongoDB
dnspython
pymongo
pymongo[aws]

# PDF scrapping
tk
ghostscript
camelot-py

# Excell
xlsxwriter
xlrd

#Web scrapping
selenium
