# Run script on Http
fastapi
uvicorn

# Run Script scheduler
schedule

pandas
bs4
python-dotenv

# MongoDB
dnspython
pymongo
pymongo[aws]

# PDF scrapping
tk
ghostscript
camelot-py
lxml
opencv-python

# Excell
xlsxwriter
xlrd

#Web scrapping
selenium
webdriver-manager
